<h1>Canada's climate plan</h1>
<h3>We talk about Pan-Canadian Framework on Clean Growth and Climate Change, carbon pollution, carbon pricing, climate change resilience, clean technology and jobs.</h3>

<%= link_to "Home", root_path %>